<div class="jumbotron center-block" style="margin-top:30px;width:420px;">
  <h2 style="margin-top:0px;margin-bottom:30px;"><%= t('.forgot_your_password') %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control", style: "width:300px;margin-bottom:5px" %>
    </div>

    <div class="actions">
      <%= f.submit t('.send_me_reset_password_instructions'), class: "btn btn-primary" %>
    </div>
  <% end %>
  <hr>
  <%= render "devise/shared/links" %>
</div>
